.update {
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  /* background-color: #202124; */
}

.update h1 {
  color: white;
  padding: 12px;
}

.update p {
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
}

.credit {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #202124; */
}

.credit a{
  text-decoration: none;
  color: rgb(170, 170, 175);
}

#content {
  padding: 20px 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* background-color: #202124; */
}

h4 {
  font-size: 24px;
}

.card {
  width: 48%;
  border: 2px;
  background: white;
  border-radius: 15px;

  text-align: center;
  display: table;
  background-color: rgba(0,0,0,0.2);

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card .header {
  border-radius: 15px 15px 0px 0px;
  height: 50px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
}

.card .footer {
  height: 50px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
}

.card#confirmados .header {
  background: green;
  font-family: Ubuntu;
  font-size: 22px;
}

.card .footer {
  background: rgba(255, 255, 255, 0.3);
  /* background: rgba(35, 17, 35, 1); */
  font-family: Ubuntu;
  color: white;

  /* border-radius: 15px 15px 0px 0px; */
  text-shadow: 0 14px 28px black;

  font-size: 22px;
}

.card#confirmados .container#new {
  background: rgba(255, 255, 255, 0.1);

}

.card#obitos .container#new {
  background: rgba(255, 255, 255, 0.1);

}

.card#obitos .header {
  background: rgb(8, 7, 5);
  font-size: 22px;
  font-family: Ubuntu;
}

.container {
  padding: 20px 16px;
  /* color: black; */
  /* font-family: Roboto; */
  font-family: Ubuntu;
  font-size: 18px;
  margin: 0 auto;
  color: white;
  border-radius: 0px 0px 15px 15px;
}

.container p {
  font-size: 16px;
}

@media screen and (max-width: 700px) {

#content {
  flex-direction: column;
  padding: 20px;
}

.card {
  width: 100%;
}

}